.introButton {
    position: absolute;
    width: 373px;
    height: 120.51px;
    bottom: 7%;
    right: 50px;
    border-radius: 40.17px;
    border: 2.01px;
}

.monkeyShadowSvg {
    position: absolute;
    bottom: 7%;
    left: 19%;
    border-radius: 48.49px;
    z-index: 0;
}
.monkeySvg {
    position: absolute;
    width: 646px;
    height: 730.91px;
    bottom: 1.5%;
        left: 30%;
    border-radius: 48.49px;
    z-index: 2;
    }

.starSettingsSvg {
    position: absolute;
    bottom: 7%;
    left: 5%;
}

.bubbleContainerDivStyle {
    position: absolute;
    top: 15%;
        left: 49%;
}

.bubbleStyle {
    width: 575.97px;
    height: 269.91px;
    border: 0.27px;
}

.firstText {
    position: absolute;
    top: 27px;
    left: 68px;
    width: 451px;
    height: 76px;
    font-family: Nunito;
    font-size: 56px;
    font-weight: 800;
    line-height: 76px;
    letter-spacing: 0em;
    text-align: left;
    color: #11AEC6;
}

.secondText{
    position: absolute;
    width: 477.25px;
    height: 102px;
    top: 10px;
    left: 68px;
    font-family: Nunito;
    font-size: 44px;
    font-weight: 800;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: left;
    color: #11AEC6;
}

.progressbarStyle{
    position: absolute;
    width: 940px;
    top: 43.75px;
    left: 22%;
    /* border-radius: 0px, 0px, 11.22px, 11.22px; */
    /* angle: -90.28 deg; */

}

.progressBarBananaStyle{
    position: absolute;
    width: 145px;
        top: 6px;
        left: 71%;
    transform: 19.36 deg;

}

.thirdText{
    position: absolute;
    width: 477.25px;
    height: 102px;
    top: 10px;
    left: 68px;
    font-family: Nunito;
    font-size: 45px;
    font-weight: 800;
    line-height: 61px;
    letter-spacing: 0em;
    text-align: left;
    color: #11AEC6;
}

.backStyle{
    position: absolute;
    width: 194px;
    height: 194px;
    top: 45px;
    left: 43px;
}

.vectorStyle{
    position: absolute;
    height: 297.7px;
    width: 1400.89px;
    top: 43%;
        left: 2%;
    border: 7px;
    transform:rotateZ(360deg);
}

.rectangleContainer{
    position: absolute;
        top: 330px;
    display: flex;
    gap: 120px;
    justify-content: center;
    width: -webkit-fill-available;
}

.rectangle{
    width: 351px;
    height: 438px;
    border-radius: 69px;
    background-color: white;
}

.cardShadow {
    position: absolute;
    bottom: 18%;
    left: 4%;
    z-index: 0;
}

.stepCounter {
    position: relative;
    width: 58px;
    top: 250px;
    left: -146px;
}
.cardDivFirstStep{
    position: relative;
    top: -28px;
        left: -92px;
}

.firstRectangleCard1 {
    position: absolute;
    width: 173.12px;
    height: 221px;
    left: 150px;
    box-shadow: 3px 4px 9.399999618530273px 0px #EBEBEB4F;
}

.firstRectangleCard {
    position: absolute;
    width: 182.52px;
        height: 233px;
        top: -25px;
        left: 190.83px;
    
    }
    
    .cardContent {
        position: relative;
        left: 55px;
        top: 200px;
}

.CardText{
    margin: 0;
    position: relative;
    width: 243px;
    font-family: Nunito;
    font-size: 40px;
    font-weight: 800;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: center;
    color: #11AEC6;
}

.CardTextSecond{
    margin: 0;
    position: relative;
    width: 243px;
    font-family: Nunito;
    font-size: 24px;
    font-weight: 800;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: center;
    color: #A6C930;
}

.secondRectangleCard{
    position: absolute;
    width: 173.12px;
    top: 0px;
    left: 668px;
}

.thirdRectangleCard{
    position: absolute;
    width: 271px;
    top: 15px;
        left: 1093px;

}

